<app-nav-bar-fe ></app-nav-bar-fe>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<nav class="col fixed-bottom  justify-content-center align-items-center p-0 m-0   d-lg-none d-md-none">
  <ul class=" container  d-flex justify-content-around my-1 p-0">
    <li class="nav-item ">
      <a   href="https://shop.intocablesrp.com/"><mat-icon> local_grocery_store</mat-icon> <br>
        <span class="py-0 fixed-span">Tienda</span>
      </a>
    </li>
    <li class="nav-item ">
      <a href="https://discord.gg/intocablesrp" > <mat-icon class="">games</mat-icon> <br>
        <span class="py-0 fixed-span">Discord</span>
      </a>
    </li>
  </ul>
</nav>
