<nav class=" mt-0 mx-0 pt-0 px-0">
  <div class="container mt-0  pt-0 px-0">
    <ul class=" row align-items-center py-2  my-0 pl-2">
      <li class="px-0 mx-2 pr-sm-1 col-6  col-sm-4 col-md-4 col-lg-3 "><a style="font-size:1.2em;"><strong
        class="color-azul">INTOCABLES RP</strong></a></li>

      <li class="px-0 mx-2 mx-sm-3 col-sm-1 col-md-1 col-lg-1  d-none d-md-block"><a
        href="https://shop.intocablesrp.com/">
        <div class="row align-items-center "><strong>Tienda </strong>
          <mat-icon> local_grocery_store</mat-icon>
        </div>
      </a></li>

      <li class="px-0 px-3 mx-sm-1 col-sm-2 col-md-2 col-lg-1 d-none d-md-block"><a
        href="https://discord.gg/intocablesrp">
        <div class="row align-items-center "><strong>Discord </strong><img class="ml-1" height="25"
                                                                           src="https://firebasestorage.googleapis.com/v0/b/marcos-ibanez.appspot.com/o/svg%2Fdiscordc.svg?alt=media&token=8a1f7e84-6307-4730-b755-d74a405eae58">
        </div>
      </a></li>

      <li class="px-0 mx-0 mx-sm-1 col-2 col-sm-4 col-md-1 col-lg-4 "></li>



      <li class="px-0 mx-0 mx-sm-1 col-3 col-sm-3 col-md-2 col-lg-1 pr-2 " *ngIf="!identify"><a class="li-a"
                                                                                                (click)="login()">
        <div class="row align-items-center justify-content-end mr-0 mr-md-3">
          <mat-icon>exit_to_app</mat-icon><strong>Entrar</strong>
        </div>
      </a></li>


      <li class="px-0 mx-0 mx-sm-1 col-3 col-sm-3 col-md-2 col-lg-1 pr-2" *ngIf="identify">
        <div class="row  justify-content-end mr-1 mr-md-3">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <img alt="perfil" class="image-perfil pr-1 pb-1" style="  width:40px; height:40px;"
                 src="https://cdn.discordapp.com/avatars/{{identify.avatar}}.png">
          </button>
        </div>
      </li>



      <!--       <li class="px-0 mx-0 mx-sm-1 col-5 col-sm-3 col-md-2 col-lg-2 "*ngIf="identify" ><a class="li-a" (click)="logout()">
          <div class="row align-items-center justify-content-end mr-3">
            <mat-icon>exit_to_app</mat-icon><strong>Salir</strong>
            <img alt="perfil" class="image-perfil ml-3" style="  width:30px; height:30px;"
            src={{identify.avatar}}>
          </div>
        </a></li>
        -->
    </ul>
  </div>

</nav>
<div >
  <mat-menu #menu="matMenu" xPosition="before" class="matMenu-Style-Perfil">
    <button mat-menu-item disabled class="matMenu-Style-Perfil">
      <mat-icon class="matMenu-Style-Perfil"> person</mat-icon>
      <span *ngIf="identify">{{identify.name}}</span>
    </button>
    <button mat-menu-item (click)="logout()" class="matMenu-Style-Perfil">
      <mat-icon class="matMenu-Style-Perfil">exit_to_app</mat-icon>
      <span>Salir</span>
    </button>

  </mat-menu>
</div>
