<nav>
  <div class="container p-1">
    <ul class="row align-items-center  m-0  mx-1 px-0 p-1">
      <li class="col-8 col-sm-4 col-md-3 col-lg-2 col-xl-2 mx-0 px-0 ">
        <a style="font-size:1.2em; text-align: start" class="justify-content-start">
          <strong class="color-azul">INTOCABLES RP</strong>
        </a>
      </li>

      <li class="col-0 col-sm-0 col-md-2 col-lg-1 col-xl-1 px-0  d-none d-md-block">
        <a href="https://shop.intocablesrp.com/" class="col m-0 p-0 row align-items-center justify-content-start button-pointer button-a">
            <strong>Tienda </strong><mat-icon> local_grocery_store</mat-icon>
        </a>
      </li>

      <li class="col-0 col-sm-0 col-md-2 col-lg-2 col-xl-1 px-0  d-none d-md-block">
        <a href="https://discord.gg/intocablesrp" class="col m-0 p-0 row align-items-center justify-content-start button-pointer button-a">
        <strong>Discord </strong><img class="ml-1" height="25" src="https://firebasestorage.googleapis.com/v0/b/marcos-ibanez.appspot.com/o/svg%2Fdiscordc.svg?alt=media&token=8a1f7e84-6307-4730-b755-d74a405eae58">
        </a>
      </li>

      <li class="col-4 col-sm-7 col-md-5 col-lg-7 col-xl-8 px-0 mx-0 row justify-content-end" *ngIf="!identify">
        <a (click)="login()" class="row align-items-center justify-content-end mr-0 mr-md-3 button-pointer button-a">
            <mat-icon>exit_to_app</mat-icon><strong>Entrar</strong>
        </a>
      </li>

      <li class="col-4 col-sm-7 col-md-5 col-lg-7 col-xl-8 px-0 mx-0 row justify-content-end" *ngIf="identify">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <img alt="perfil" class="image-perfil pr-1 pb-1" style="  width:40px; height:40px;"
                 src="https://cdn.discordapp.com/avatars/{{identify.avatar}}.png">
          </button>
      </li>
    </ul>
  </div>


</nav>
<mat-menu #menu="matMenu" xPosition="before" class="matMenu-Style-Perfil">
  <button mat-menu-item disabled class="matMenu-Style-Perfil">
    <mat-icon class="matMenu-Style-Perfil"> person</mat-icon>
    <span *ngIf="identify">{{identify.name}}</span>
  </button>
  <button mat-menu-item (click)="logout()" class="matMenu-Style-Perfil">
    <mat-icon class="matMenu-Style-Perfil">exit_to_app</mat-icon>
    <span>Salir</span>
  </button>

</mat-menu>
