.image-perfil{
  border-radius:20px !important;

}
.font-color-bot{
  color: #384959;
}
.border-background{
  border: 5px solid  #1B2838;
}
.border-radius{

  border-radius:40px   !important;

}
.padding-inf{
  padding: 0.9em 0.78em;
}
.padding-not{
  padding: 0.9em 0.6em;
}
.padding-bug{
  padding: 0.9em 0.5em;
}
.article{
  box-shadow: 2px 2px 2px 1px rgba(17, 17, 17, 0.247);
  background-color: #16202d;
}
