<nav class="col nav-foro m-0 p-0">
  <div class="container">
    <ul class="row align-items-center pl-2  my-0">
      <li class="mr-4 py-3 activo-nav-router ">
        <a href=""><strong>Categorias </strong>
        </a>
      </li>
      <li *ngIf="loginService.getRoleVal()" (click)="createCategory()">
        <mat-icon>add_circle</mat-icon>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4 mb-0 pb-5 px-0">

  <div class="b-radio blanco  article my-3 py-3 px-0 mx-0 row align-items-center" *ngFor="let category of categories">

      <a [routerLink]="[category.categoriesDomain.linktitle]"
         class="tarjeta col-md-7 col-lg-5 col-10  px-0 mx-0">
        <div class="row align-items-center  mx-0  ">
          <img alt="perfil" class="image-perfils ml-4" style="  width:60px; height:60px;"
               src="{{category.categoriesDomain.linklogo}}">
          <div class="ml-0 ml-md-3 ml-lg-3 col-8 col-sm-9 col-md-9 col-lg-9">
            <h2 class="mt-0 mb-0 py-0"><strong>{{category.categoriesDomain.tilecategories}}</strong></h2>
            <span class="mt-1 mb-0 font-color-bot">{{category.categoriesDomain.description}}</span>
          </div>
        </div>
      </a>
      <div class="m-0 p-0 col-1">
        <mat-icon *ngIf="loginService.getRoleVal()" (click)="deleteCategory(category)">remove_circle</mat-icon>
      </div>
       <a [routerLink]="[category.categoriesDomain.linktitle,category.postDomain.linktitle]" *ngIf="category.postDomain"class="tarjeta col-md-4 col-lg-4  d-none d-md-none d-lg-block px-0 mx-0">

        <div class="row align-items-center mx-0 px-0  br-1 ">
          <img alt="perfil" class="image-perfil ml-3" style="  width:35px; height:35px;"
               src="https://cdn.discordapp.com/avatars/{{category.postDomain.updateModel.username}}/{{category.postDomain.updateModel.avatar}}.png">

          <div class="ml-3 ">
            <h3 class="mt-0 mb-0 py-0"><strong>{{category.postDomain.titlepost}}</strong></h3>
            <span class="mt-1 mb-0 font-color-bot" style="font-size: 0.75em;">{{category.postDomain.updateModel.title}} por <strong
              style="font-size: 1.2em;" class="color-{{validateRol(category.postDomain.updateModel.role)}}">{{category.postDomain.updateModel.name}}</strong></span>
          </div>
          <div class="py-4 br-1-c">l</div>
        </div>
      </a>

      <div class="col-md-4 col-lg-2 d-none d-md-block  mx-0 br-1">
        <div class=" ml-0 row align-items-center mr-0 ">

          <mat-icon class="mx-2"> forum</mat-icon>
          <div>{{category.quantity}} Posts</div>
          <div class="py-4 br-1-c">l</div>
        </div>
      </div>

  </div>

</div>
